<h1 style="background-color: black; color: white; text-align: center">
    Carga de productos
  </h1>
  
  <form action="/api/productos" method="post" enctype="multipart/form-data">
    Title: <input type="text" name="title" /><br /><br />
    Price: <input type="number" name="price" /><br /><br />
    Thumbnail:  <input type="file" name="thumbnail" /><br /><br />
  
    <button
      type="submit"
      style="background-color: black; color: white; text-align: center"
    >
      Agregar producto
    </button>
    
  </form>